<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace的值要和类路径完全一致要不然对应不上-->
<mapper namespace="com.example.demo.mapper.InventorysMaper" >

    <!--获取全部的仓库数据-->
    <select id="getAllInventorys"  resultType="com.example.demo.pojo.Inventorys" >
        select * from Inventorys order by inventory_name,prd_prdcode;
    </select>

    <!--根据仓库名称获取对应仓库的库存详情-->
    <select id="getInventorysByName"  resultType="com.example.demo.pojo.Inventorys" >
        select * from Inventorys where inventory_name=#{inventory_name};
    </select>

    <!--根据仓库名称和产品获取对应仓库的产品库存-->
    <select id="getInventorysByPrdCode"  resultType="com.example.demo.pojo.Inventorys" >
        select * from Inventorys where inventory_name=#{inventory_name} and prd_prdcode=#{prd_prdcode};
    </select>

    <!--新建仓库产品-->
    <insert id="AddInventorys">
        insert into Inventorys
        VALUES (#{prd_prdcode},#{prd_num},#{inventory_name});
    </insert>

    <!--更新仓库详情-->
    <update id="ModifyInventorys">
        update inventorys set prd_num=#{prd_num} where inventory_name=#{inventory_name} and prd_prdcode=#{prd_prdcode};
    </update>


</mapper>
