<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace的值要和类路径完全一致要不然对应不上-->
<mapper namespace="com.example.demo.mapper.PrdInfoMapper" >

    <!--根据产品编码获取产品信息-->
    <select id="getPrdInfo"  resultType="PrdInfo" >
        select * from prdinfo where prd_prdcode=#{prd_code};
    </select>

    <!--获取所有的产品信息-->
    <select id="getAllPrdInfos"  resultType="com.example.demo.pojo.PrdInfo >
        select * from prdinfo order by prd_prdcode;
    </select>

    <!--下面的插入使用的是数据库自己生成id的方法-->
    <insert id="AddPrdInfo" >
        insert into prdinfo VALUES (#{prd_prdcode},#{prd_name},#{prd_price},#{prd_desc},#{prd_bei01},#{prd_status});
    </insert>
    <!--更新状态和更新密码的sql-->
    <update id="modifyPrdInfo">
        update prdinfo set prd_name=#{prd_name},prd_price=#{prd_price},prd_desc=#{prd_desc},prd_status=#{prd_status},
        prd_bei01=#{prd_bei01}
        where prd_code=#{prd_code};
    </update>

</mapper>
